@page
@model deneme.Pages.MenuModel
@{
    ViewData["Title"] = "Menu Management";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center"><i class="bi bi-alipay me-2 text-danger small"></i>Menus</h2>
        <hr />

        @if (Model.Menus.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Menu Id</th>
                        <th class="text-center">Menu Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var menu in Model.Menus)
                    {
                        <tr>
                            <td class="text-center">@menu.MenuId</td>
                            <td class="text-center">@menu.Name</td>
                            <td class="text-center">@menu.Description</td>
                            <td>
                                <a asp-page="/MenuEdit" asp-route-id="@menu.MenuId" class="btn btn-dark btn-sm">Edit</a>
                                <a asp-page="/MenuDelete" asp-route-id="@menu.MenuId" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a asp-page="/MenuAdd" class="btn btn-success btn-sm ms-2">New Menu</a></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center" role="alert">
                No menus found. Do you want to add a new menu?
            </div>
            <a href="/Index" class="btn btn-dark btn-sm">Cancel</a>
        }
    </div>
    <div class="col-md-2"></div>
</div>
