@page
@model deneme.Pages.RolesModel
@{
    ViewData["Title"] = "Roles";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center"><i class="bi bi-alipay me-2 text-danger small"></i>Roles</h2>
        <hr />

        @if (Model.Roles.Count > 0)
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:100px" class="text-center">Role Id</th>
                        <th style="width:100px" class="text-center">Role Name</th>
                        <th style="width:99px" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td class="text-center">@role.RoleId</td>
                            <td class="text-center">@role.RoleName</td>
                            <td class="text-center">
                                <a asp-page="/RoleEdit" asp-route-id="@role.RoleId" class="btn btn-dark btn-sm">Edit</a>
                                <a asp-page="/RoleDelete" asp-route-id="@role.RoleId" asp-route-name="@role.RoleName" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-center"><a asp-page="/RoleAdd" class="btn btn-success btn-sm" style="padding-inline:20px">New Role</a></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center" role="alert">
                No roles found. Do you want to add new role?
            </div>
            <div class="d-flex">
                <div class="ms-auto">
                    <a href="/Index" class="btn btn-dark btn-sm">Cancel</a>
                    <a href="#" class="btn btn-outline-success btn-sm">New Role</a>
                </div>
            </div>

        }


    </div>
    <div class="col-md-2"></div>
</div>
