@page
@model deneme.Pages.StaffsModel
@{
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center"><i class="bi bi-alipay me-2 text-danger small"></i>Staffs</h2>
        <hr />

        @if (Model.Staffs.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:100px">Staff Id</th>
                        <th style="width:100px">Staff Name</th>
                        <th style="width:100px">Staff Role</th>
                        <th style="width:100px">Staff Phone</th>
                        <th style="width:150px">Staff Email</th>
                        <th style="width:100px" class="ps-4" style="width:99px">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var staff in Model.Staffs)
                    {
                        <tr>
                            <td>@staff.StaffId</td>
                            <td>@staff.Name</td>
                            <td>@staff.RoleName</td>
                            <td>@staff.Phone</td>
                            <td>@staff.Email</td>
                            <td>
                                <a asp-page="/StaffEdit" asp-route-id="@staff.StaffId" class="btn btn-dark btn-sm">Edit</a>
                                <a asp-page="/StaffDelete" asp-route-id="@staff.StaffId" asp-route-name="@staff.Name" class="btn btn-outline-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class=" pe-4 me-2"><a asp-page="/StaffAdd" class="btn btn-success btn-sm" style="padding-inline:20px">New Staff</a></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning text-center" role="alert">
                No staffs found. Do you want to add new staff?
            </div>
            <div class="d-flex">
                <div class="ms-auto">
                    <a href="/Index" class="btn btn-dark btn-sm">Cancel</a>
                    <a href="#" class="btn btn-outline-success btn-sm">New Staff</a>
                </div>
            </div>

        }


    </div>
    <div class="col-md-1"></div>
</div>
