@page
@model deneme.Pages.SummaryModel
@{
    ViewData["Title"] = "Daily Summaries";
}

<!-- Günlük Gelir -->
<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="text-center mb-3"><i class="bi bi-alipay me-2 fs-3 text-danger small"></i>Daily Summaries</h4>
            <hr class="mb-5" />

            @for (int i = 0; i < 7; i++)
            {
                var revenue = Model.DailyRevenues.Count > i ? Model.DailyRevenues[i] : 0;
                var percentage = revenue > 0 ? (revenue / Model.DailyRevenues.Max()) * 100 : 0;

                // Renk sınıfını belirle
                var colorClass = percentage switch
                {
                    <= 30 => "bg-danger",  // Kırmızı
                    <= 60 => "bg-warning", // Sarı
                    _ => "bg-success"      // Yeşil
                };

                <div class="progress mt-3" style="height: 33px;" role="progressbar" aria-label="Daily Revenue" aria-valuenow="@percentage" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated @colorClass" style="width: @percentage%">
                        <b>Day @(i + 1): @revenue ₺ </b>
                    </div>
                </div>
            }
            <hr class="mt-5" />
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- Toplam Günlük Ciro -->
    <div class="row mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex">
            <div class="ms-auto">
                <h5 class="ms-auto">Total Revenue: <b class="text-success">@Model.DailyRevenues.Sum() ₺</b></h5>
                <h6>Average Daily Revenue: <b class="text-primary">@Math.Round(Model.DailyRevenues.Average(), 2) ₺</b></h6>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
